.header{
    background-color: #000000;
    color: #0508bd;
    
}
a:link{
    color:blue
}
a:visited{
    color:purple
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid #000000;
}
.menu{
    display:flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    
}

.grid img{
    border:2px solid #000000;
    border-radius: 50px;
}
.item1{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 50px;
    width: 310px;
    font-family: fantasy;
}
.item1:hover{
    transform:scale(1.1)
}
